@import "../../variables.scss";

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: $white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba($black, 0.25);

  &:hover .image {
    filter: contrast(100%);
  }
}

.content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.title {
  color: $dark-grey;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 1.25rem 0 1rem;
}

.price {
  flex: 1 1 auto;
  padding: 1.25rem 0 1rem;
}

.image {
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);

  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}
