@import "../../variables.scss";

.footer {
  grid-area: $footer-area;
  height: $footer-height;
  width: 100%;
  background-color: $white;
  box-shadow: 1px 2px 6px 1px rgba($black, 0.1);
}

.container {
  display: grid;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;
  height: 100%;
  max-width: $container-width-lg;
}

.copy {
  text-align: center;
  font-size: 0.75rem;
}

.logo {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
