// breakpoints
$container-width-sm: 600px;
$container-width-md: 960px;
$container-width-lg: 1280px;

// global grid-areas
$header-area: header;
$footer-area: footer;
$main-area: main;

// global element dimensions
$header-height: 80px;
$nav-height: 40px;
$footer-height: 60px;

// color palette
$white: #fff;
$black: #000;
$lite-grey: #f5f5f5;
$mid-grey: #cccccc;
$dark-grey: #696969;
